body {
    color: #fff;
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    padding: 0;
    margin: 5%;
    width: 90%;
}

section article {
    margin: 0.6em auto;
    padding: 0;
    width: 80%;
    position: relative;
}

section article p {
    padding: 0.5em 0.5rem;
    margin: 0;
    line-height: 1.3em;
}

section article p:nth-of-type(even) {
    font-size: .8em;
    text-align: right;
    color: rgba(255, 255, 255, 0.7);
}

section article:nth-of-type(odd) {
    background-color: #0f577b;
    float: right;
}

section article:nth-of-type(odd)::after {
    position: absolute;
    bottom: -0.6em;
    right: 0.7em;
    width: 0;
	height: 0;
	border-top: 0.6em solid #0f577b;
	border-left: 0.8em solid transparent;
    content: "";
}

section article:nth-of-type(even) {
    /* http://www.colorhexa.com/13709e */
    background-color: #1ba1e2;
    float: left;
}

section article:nth-of-type(even)::before {
    position: absolute;
    top: -0.6em;
    left: 0.7em;
    width: 0;
	height: 0;
	border-bottom: 0.6em solid #1ba1e2;
	border-right: 0.8em solid transparent;
    content: "";
}

section #compose {
    background-color: rgba(255, 255, 255, 0.7);
}

section #compose::after {
    position: absolute;
    bottom: -0.6em;
    right: 0.7em;
    width: 0;
	height: 0;
	border-top: 0.6em solid rgba(255, 255, 255, 0.7);
	border-left: 0.8em solid transparent;
    content: "";
}

section #compose p {
    color: rgba(0, 0, 0, 0.3);
}
